.trending {
  position: relative;
  top: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 26px;
  z-index: -1;
}

.trending__content {
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.trending__wrap {
  padding-top: 56.25%;
  border-radius: 10px;
  box-shadow: rgba(0 0 0 / 65%) 0px 26px 30px -15px,
    rgb(0 0 0 / 70%) 0px 16px 10px -20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgb(249, 249, 249, 0.1);
}

.trending__wrap > a > img {
  /* inset: 0px; */
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out 0s;
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 1;
  top: 0;
}

.trending__wrap:hover {
  box-shadow: rgb(0 0 0 / 69%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  transform: scale(1.05);
  border-color: rgb(249, 249, 249, 0.8);
}

@media screen and (max-width: 8px) {
  .trending__content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
